<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" >
<link rel="stylesheet" type="text/css" th:href="@{/css/customer-form.css}" />
<title>Customer Registration Form</title>
</head>
<body>
	<h2>Customer Form </h2>
	<form action="processForm" th:object="${customer}">
		
		First Name: <input type="text" name="firstName" /><br><br>
		Last Name (*): <input type="text" name="lastName" th:field="*{lastName}"/><br><br>
		Free Passes: <input type="text" name="freePasses"/><br><br>
		Postal Code: <input type="text" name="postalCode"/><br><br>
		Course Code: <input type="text" name="courseCode"/><br><br>
		<input type="submit" value="Submit"/>
	</form>
	
	
</body>
<script type="text/javascript" th:src="@{static/js/customer-form.js}"></script>
</html>