<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Form</title>
</head>
<body>
	<h2>Student Registration Form</h2>
	<form action="processForm" th:object="${student}">
		First Name: <input type="text" name="firstName"/><br><br>
		Last Name: <input type="text" name="lastName" /><br><br>
		Country:  
			<select name="country">
				<option th:each="entry: ${student.countryOptions}"
					th:value="${entry.key}"
					th:utext="${entry.value}"
				></option>
				
			</select><br><br>
		Favorite Language:<br><br>
		<ul>
		<li th:each="ty: ${student.favoriteLanguageOptions}">
			<input type="radio" name="favoriteLanguage" th:value="${ty.key}" th:utext="${ty.value}"/>
		</li>
		</ul>
		<br><br>
		Operating Systems: <br><br>
		Linux: <input type="checkbox" name="operatingSystems" value="Linux"/>
		Mac OS: <input type="checkbox" name="operatingSystems" value="Mac OS"/>
		MS Windows: <input type="checkbox" name="operatingSystems" value="Windows"/><br><br>
		
			
		<input type="submit" value="Submit" />
		
	</form>
</body>
</html>